@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/* container */

.container {
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
} 

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: rgb(111, 111, 238);
    border-radius: 0.48rem;
    color: aliceblue;
    border:black;
}

/* read about bem naming convection */

.link-secondary {
    background-color: rgb(111, 111, 238);
    border-radius: 0.48rem;
    color: aliceblue;
    border:black;
}